.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-container {
  display: flex;

}

.about-right {
  width: 470px;
}

.about-list {
  display: flex;
  margin-right: 30px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-pre-title {
  margin-bottom: 20px;
}

.about-title {
  margin-bottom: 20px;
}

.about-after-title {
  margin-bottom: 20px;
}

.about-text {
  margin-bottom: 46px;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: $primary-text-color;
}

.about-btn {
    color: #303030;;
    padding: 12px 20px;
}