.advantages-count{
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    
    color: $secondary-text-color;
}

.advantages-item-text {
    font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-align: center;

color: $secondary-text-color;
}