.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: transparent;

  border-radius: 25px;
  outline: none;
  border: 1px solid $accent-color;

  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: #ffffff;
  }
}

.pre-title {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;

  &::before {
    margin-right: 20px;
    content: '';
    width: 60px;
    height: 1px;
  }
}

.pre-title-light {
  color: rgba(157, 164, 189, 0.6);

  &::before {
    background-color: rgba(157, 164, 189, 0.6);
  }
}

.pre-title-dark {
  color: $secondary-title-color;

  &::before {
    background-color: $secondary-title-color;
  }
}
.after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.after-title-light {
  color: $third-text-color;
}

.after-title-dark {
  color: $primary-text-color;
}

.section-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.section-title-dark {
  color: $secondary-title-color;
}

.section-title-light {
  color: $primary-title-color;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
