.contacts {
    background-color: #555;
}

.contacts-container {
    display: flex;
}

.contacts-address {
    font-style: inherit;
}

.contacts-link {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: $third-text-color;
}

.mail {
    text-decoration-line: underline;
}

.contacts-pre-title {
    color: #FFFFFF;
}

.contacts-text {
    font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;

color: $third-text-color;
}