.contacts {
    background-color: #191C26;
}

.contacts-container {
    display: flex;
}

.booking {
width: 50%;
padding-top: 130px;
padding-bottom: 120px;
}

.contacts-right {
    padding-top: 130px;
    padding-bottom: 120px;
    flex-grow: 1;
    padding-left: 100px;
    background-image: url(../images/contacts-bgd.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contacts-right h2 {
    margin-bottom: 40px;
}

.contacts-item {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.contacts-address {
    // width: 270px;
    margin-bottom: 70px;
    font-style: inherit;
}

.contacts-link {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: $third-text-color;
}

.contacts-icon {
    margin-right: 16px;
}

.address-link {
font-weight: 700;
}

.mail {
    text-decoration-line: underline;
}

.contacts-pre-title {
    color: #FFFFFF;
    margin-bottom: 20px;
}

.contacts-text {
    font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;

color: $third-text-color;
}