.contacts {
    background-color: #555;
    padding-top: 130px;
    padding-bottom: 120px;
}

.contacts-container {
    display: flex;
}

.booking {
width: 50%;
}

.contacts-right {
    padding-left: 100px;
}

.contacts-right h2 {
    margin-bottom: 40px;
}

.contacts-item {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.contacts-address {
    width: 270px;
    margin-bottom: 70px;
    font-style: inherit;
}

.contacts-link {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: $third-text-color;
}

.mail {
    text-decoration-line: underline;
}

.contacts-pre-title {
    color: #FFFFFF;
    margin-bottom: 20px;
}

.contacts-text {
    font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;

color: $third-text-color;
}