.gallery {
    padding-top: 120px;
    padding-bottom: 120px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 44px;
    margin-left: -30px;

}

.gallery-item {
    margin-left: 30px;
    flex-basis: calc((100% - 4 * 30px) / 4);
}