.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.2em;

  color: $secondary-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.hero-right {
  background-color: #555;
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: $primary-title-color;
}
