.masters-item-name {
  font-size: 18px;
  line-height: 1.39;

  text-align: center;
  letter-spacing: 0.02em;

  color: $secondary-text-color;
}

.masters-item-text {
    font-size: 14px;
line-height: 1.36;

text-align: center;
letter-spacing: 0.02em;

color: $accent-color;
}