.price {
    background-color: #555555;
}

.price-item-text {
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: $third-text-color;
}

.price-btn {
    color: #FFFFFF;
    padding: 12px 20px;
}