$bg-light-color: #FFFFFF;
$bg-dark-color: #191C26;
$bg-secondary-color: #F7F7F7;
$primary-text-color: #303030;
$secondary-text-color: rgba(157, 164, 189, 0.4);
$text-color: #9DA4BD;
$accent-color: #FF6C00;