<section class="about" id="about">
  <div class="container about-container">
    <ul class="about-list">
      <li class="about-item">
        <img
          src="./images/img1.jpg"
          alt="Barber working with beard"
          width="270"
          height="445"
        />
      </li>
      <li class="about-item">
        <img
          src="./images/img2.jpg"
          alt="Barber working with hair"
          width="270"
          height="445"
        />
      </li>
    </ul>
    <div class="about-right">
      <p class="pre-title pre-title-dark about-pre-title">About</p>
      <h2 class="section-title section-title-dark about-title">Best Barbershop in your city</h2>
      <p class="after-title after-title-dark about-after-title">
        If you want to add more confidence to your image, you should definitely
        visit us.
      </p>
      <p class="about-text">
        We are a team that never stops at what has been achieved and are thirsty
        for changes. And when you fall into the hands of our master, you will
        never be the same again. We are a team that is always "on the same wave"
        with clients. Therefore, we are always ready to improve everyone who comes
        to us!
      </p>
      <button type="button" class="btn about-btn">ONLINE-BOOKING</button>
    </div>
  </div>
</section>
