<section>
  <ul>
    <li>
      <img
        src="./images/img1.jpg"
        alt="Barber working with beard"
        width="270"
        height="445"
      />
    </li>
    <li>
      <img
        src="./images/img2.jpg"
        alt="Barber working with hair"
        width="270"
        height="445"
      />
    </li>
  </ul>
  <div>
    <p>About</p>
    <h2>Best Barbershop in your city</h2>
    <p>
      If you want to add more confidence to your image, you should definitely
      visit us.
    </p>
    <p>
      We are a team that never stops at what has been achieved and are thirsty
      for changes. And when you fall into the hands of our master, you will
      never be the same again. We are a team that is always "on the same wave"
      with clients. Therefore, we are always ready to improve everyone who comes
      to us!
    </p>
    <button type="button">ONLINE-BOOKING</button>
  </div>
</section>
