<section>
    <ul>
        <li>
            <span>600</span>
            <p>Satisfied customers per day</p>
        </li>
        <li>
            <span>50</span>
            <p>Awards for excellent service</p>
        </li>
        <li>
            <span>20</span>
            <p>Kyiv’s best 
                barbers</p>
        </li>
        <li>
            <span>100</span>
            <p>Gifts for regular customers</p>
        </li>
    </ul>
    <p>Old traditional school</p>
    <h2>¿Why people come to us?</h2>
    <p>Only good things are said about us. But it's better to see and feel 1 time than read 10 times. </p>
</section>