<section class="advantages">
  <div class="container advantages-container">
    <ul class="advantsges-list">
      <li class="advantages-item">
        <span class="advantages-count">600</span>
        <p class="advantages-item-text">Satisfied customers per day</p>
      </li>
      <li class="advantages-item">
        <span class="advantages-count">50</span>
        <p class="advantages-item-text">Awards for excellent service</p>
      </li>
      <li class="advantages-item">
        <span class="advantages-count">20</span>
        <p class="advantages-item-text">Kyiv’s best barbers</p>
      </li>
      <li class="advantages-item">
        <span class="advantages-count">100</span>
        <p class="advantages-item-text">Gifts for regular customers</p>
      </li>
    </ul>
    <div class="advantages-right">
      <p class="pre-title pre-title-dark advantages-pre-title">
        Old traditional school
      </p>
      <h2 class="section-title section-title-dark advantages-title">
        ¿Why people come to us?
      </h2>
      <p class="after-title after-title-dark advantages-after-title">
        Only good things are said about us. But it's better to see and feel 1
        time than read 10 times.
      </p>
    </div>
  </div>
</section>
