<section>
  <p>For true enjoyers of the atmosphere</p>
  <h2>Our barbers</h2>
  <ul>
    <li>
      <img src="./images/John-Smith.jpg" alt="Photo John Smith" width="370" height="346"/>
      <p>John Smith</p>
      <p>Extreme Barber</p>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </li>
    <li>
      <img src="./images/Michele-Doe.jpg" alt="Photo Michele Doe" width="370" height="346"/>
      <p>Michele Doe</p>
      <p>Extreme Barber</p>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </li>
    <li>
      <img src="./images/Alan-Black.jpg" alt="Photo Alan Black" width="370" height="346"/>
      <p>Alan Black</p>
      <p>Extreme Barber</p>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </li>
  </ul>
</section>
