<section class="contacts" id="contacts">
  <div class="container contacts-container">
    <div class="booking">
      <h2 class="section-title section-title-light">Online-booking</h2>
      <form action="">
        <div class="input-wrapper">
          <input
            type="text"
            class="form-input"
            placeholder="NAME*"
            name="user-name"
            required
          />
          <input
            type="number"
            class="form-input"
            placeholder="PHONE*"
            name="user-phone"
            required
          />
        </div>

        <textarea
          type="text"
          class="form-message"
          name="user-message"
          placeholder="MESSAGE"
          ></textarea>
        <button class="form-button btn" type="submit">SEND</button>
      </form>
    </div>
    <div class="contacts-right">
      <h2 class="section-title section-title-light">Contacts</h2>
      <address class="contacts-address">
        <ul class="contacts-list">
          <li class="contacts-item">
            <a
              class="contacts-link address-link"
              href="https://goo.gl/maps/qx8pH3zx5wychkw1A"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="contacts-icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-pin"></use>
              </svg>
              st. Vasilkovaya, 7A <br />
              Kiev, 08132</a
            >
          </li>
          <li class="contacts-item">
            <a class="contacts-link" href="tel:+380441111111">
              <svg class="contacts-icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-phone"></use>
              </svg>
              +38 044 111 11 11</a
            >
          </li>
          <li class="contacts-item">
            <a class="contacts-link mail" href="mailto:barbershop@email.com">
              <svg class="contacts-icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-mail"></use>
              </svg>
              barbershop@email.com</a
            >
          </li>
        </ul>
      </address>
      <p class="pre-title pre-title-light contacts-pre-title">Working hours</p>
      <p class="contacts-text">Every day from 9:00 to 22:00</p>
    </div>
  </div>
</section>
