<section class="contacts" id="contacts"> 
  <div class="container contacts-container">
    <div class='booking'>
      <h2 class="section-title section-title-light">Online-booking</h2>
    </div>
    <div>
      <h2 class="section-title section-title-light">Contacts</h2>
      <address class='contacts-address'>
      <ul class='contacts-list'>
        <li class="contacts-item">
          <a class="contacts-link"
            href="https://goo.gl/maps/qx8pH3zx5wychkw1A"
            target="_blank"
            rel="noopener noreferrer"
            >st. Vasilkovaya, 7A Kiev, 08132</a
          >
        </li>
        <li class="contacts-item">
          <a class="contacts-link" href="tel:+380441111111">+38 044 111 11 11</a>
        </li>
        <li class="contacts-item">
          <a class="contacts-link mail" href="mailto:barbershop@email.com">barbershop@email.com</a>
        </li>
      </ul>
  </address>
  <p class="pre-title contacts-pre-title">Working hours</p>
  <p class="contacts-text">Every day from 9:00 to 22:00</p>
    </div>
  </div>
</section>
