<section class="gallery">
    <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <p class="pre-title pre-title-dark">In Latin, "barba" means "beard"</p>
<ul class="gallery-list">
    <li class="gallery-item"><img src="./images/gallery-1.jpg" alt="barber cutting client's hair" width="270" height="360"></li>
    <li class="gallery-item"><img src="./images/gallery-2.jpg" alt="barber shaves a client" width="270" height="360"></li>
    <li class="gallery-item"><img src="./images/gallery-3.jpg" alt="barber works with a client" width="270" height="360"></li>
    <li class="gallery-item"><img src="./images/gallery-4.jpg" alt="barber works with a client" width="270" height="360"></li>
</ul>
</div>
</section>