<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <p class="pre-title pre-title-dark">In Latin, "barba" means "beard"</p>
    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery1-desk.webp    1x,
              ./images/gallery/gallery1-desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery1-desk.jpg    1x,
              ./images/gallery/gallery1-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery1-tab.webp    1x,
              ./images/gallery/gallery1-tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery1-tab.jpg    1x,
              ./images/gallery/gallery1-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery1-mob.webp    1x,
              ./images/gallery/gallery1-mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery1-mob.jpg    1x,
              ./images/gallery/gallery1-mob@2x.jpg 2x
            "
          />
          <img
            src="./images/gallery/gallery1-mob.jpg"
            alt="Barber works with a client"
            class="gallery-img"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery2-desk.webp    1x,
              ./images/gallery/gallery2-desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery2-desk.jpg    1x,
              ./images/gallery/gallery2-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery2-tab.webp    1x,
              ./images/gallery/gallery2-tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery2-tab.jpg    1x,
              ./images/gallery/gallery2-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery2-mob.webp    1x,
              ./images/gallery/gallery2-mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery2-mob.jpg    1x,
              ./images/gallery/gallery2-mob@2x.jpg 2x
            "
          />
          <img
            src="./images/gallery/gallery2-mob.jpg"
            alt="Master works with client"
            class="gallery-img"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery3-desk.webp    1x,
              ./images/gallery/gallery3-desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery3-desk.jpg    1x,
              ./images/gallery/gallery3-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery3-tab.webp    1x,
              ./images/gallery/gallery3-tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery3-tab.jpg    1x,
              ./images/gallery/gallery3-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery3-mob.webp    1x,
              ./images/gallery/gallery3-mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery3-mob.jpg    1x,
              ./images/gallery/gallery3-mob@2x.jpg 2x
            "
          />
          <img
            src="./images/gallery/gallery3-mob.jpg"
            alt="Master works with a client"
            class="gallery-img"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery4-desk.webp    1x,
              ./images/gallery/gallery4-desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/gallery4-desk.jpg    1x,
            ./images/gallery/gallery4-desk@2x.jpg 2x
          "
        />
        <source
        media="(min-width: 768px)"
        srcset="
          ./images/gallery/gallery4-tab.webp    1x,
          ./images/gallery/gallery4-tab@2x.webp 2x
        "
        type="image/webp"
      />
      <source
      media="(min-width: 768px)"
      srcset="
        ./images/gallery/gallery4-tab.jpg    1x,
        ./images/gallery/gallery4-tab@2x.jpg 2x
      "
    />
    <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery4-mob.webp    1x,
      ./images/gallery/gallery4-mob@2x.webp 2x
    "
    type="image/webp"
  />
  <source
  media="(max-width: 767px)"
  srcset="
    ./images/gallery/gallery4-mob.jpg    1x,
    ./images/gallery/gallery4-mob@2x.jpg 2x
  "
/>
          <img
            src="./images/gallery/gallery4-mob.jpg"
            alt="Master works with client"
            class="gallery-img"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
