<section>
    <h2>Gallery</h2>
    <p>In Latin, "barba" means "beard"</p>
<ul>
    <li><img src="./images/gallery-1.jpg" alt="barber cutting client's hair" width="270" height="360"></li>
    <li><img src="./images/gallery-2.jpg" alt="barber shaves a client" width="270" height="360"></li>
    <li><img src="./images/gallery-3.jpg" alt="barber works with a client" width="270" height="360"></li>
    <li><img src="./images/gallery-4.jpg" alt="barber works with a client" width="270" height="360"></li>
</ul>
</section>