<header class="header">
  <div class="container header-container">
    <nav class="nav header-nav">
      <a href="/" class="header-logo">
        <svg class="logo-icon">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-list">
        <li class="header-list-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="header-list-item">
          <a href="#price" class="nav-link">Services and prices</a>
        </li>
        <li class="header-list-item">
          <a href="#masters" class="nav-link">Barbers</a>
        </li>
        <li class="header-list-item">
          <a href="#contacts" class="nav-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="menu-btn" data-menu-open>
      <img src="./images/menu.svg" alt="" width="40" height="40" />
    </button>
    <div class="header-connect">
      <a href="tel:+380441111111" class="header-tel">+38 044 111 11 11</a>
      <a href="#booking" class="header-btn btn">Online-booking</a>
    </div>
  </div>

  <!-- Mobile menu -->

  <div class="mobile-menu-wrapper" data-menu>
    <div class="mobile-menu">
      <button type="button" class="close-btn" data-menu-close>
        <svg class="close-btn-icon">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="menu-list">
        <li class="menu-item">
          <a class="menu-link" href="#about">About</a>
        </li>
        <li class="menu-item">
          <a href="#price" class="menu-link">Services and prices</a>
        </li>
        <li class="menu-item">
          <a href="#masters" class="menu-link">Barbers</a>
        </li>
        <li class="menu-item">
          <a href="#contacts" class="menu-link">Contacts</a>
        </li>
      </ul>
      <div class="menu-contacts">
        <a href="tel:+380441111111" class="menu-tel">+38 044 111 11 11</a>
        <a href="#booking" class="header-btn btn">Online-booking</a>
      </div>
      <div class="menu-social-wrapper">
        <ul class="menu-social-list">
          <li class="menu-social-item">Instagram</li>
          <li class="menu-social-item">Youtube</li>
        </ul>
      </div>
    </div>
  </div>
</header>
