<header>    
    <nav>
        <a href="/">
            <img src="./images/Logo.svg" alt="">
        </a>
        <ul>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Services and prices</a>
            </li>
            <li>
                <a href="">Barbers</a>
            </li>
            <li>
                <a href="">Contacts</a>
            </li>
        </ul>
    </nav>
    <div>
        <a href="tel:+380441111111">+38 044 111 11 11</a>
        <button type="button">Online-booking</button>
    </div>
</header>