<section class="hero">
  <ul class="hero-list">
    <li class="hero-item"><a href="" class="hero-link">Instagram</a></li>
    <li class="hero-item"><a href="" class="hero-link">Youtube</a></li>
  </ul>
  <div class="hero-right">
    <p class="pre-title pre-title-light">A hair salon for men in Kyiv</p>
    <h1 class="hero-title">BarberShop</h1>
    <p class="after-title after-title-light">
      We are experts in trendy men’s haircuts. <br />
      We work quickly, carefully and with style.
    </p>
  </div>
</section>
