<section class="masters" id="masters">
  <div class="container">
    <p class="pre-title pre-title-dark masters-pre-title">
      For true enjoyers of the atmosphere
    </p>
    <h2 class="section-title section-title-dark masters-title">Our barbers</h2>
    <ul class="masters-list">
      <li class="masters-item">
        <img
          src="./images/John-Smith.jpg"
          alt="Photo John Smith"
          width="370"
          height="346"
        />
        <div class="masters-item-description">
          <p class="masters-item-name">John Smith</p>
          <p class="masters-item-text">Extreme Barber</p>
          <ul class="social-list">
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon" width="69" height="56">
                  <use href="./images/sprite.svg#icon-linkedin" ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

      </li>
      <li class="masters-item">
        <img
          src="./images/Michele-Doe.jpg"
          alt="Photo Michele Doe"
          width="370"
          height="346"
        />
        <div class="masters-item-description">
          <p class="masters-item-name">Michele Doe</p>
          <p class="masters-item-text">Extreme Barber</p>
          <ul class="social-list">
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

      </li>
      <li class="masters-item">
        <img
          src="./images/Alan-Black.jpg"
          alt="Photo Alan Black"
          width="370"
          height="346"
        />
        <div class="masters-item-description">
          <p class="masters-item-name">Alan Black</p>
          <p class="masters-item-text">Extreme Barber</p>
          <ul class="social-list">
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon" width="20" height="20">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

      </li>
    </ul>
  </div>
</section>
