<section class="masters" id="masters">
  <div class="container">
    <p class="pre-title pre-title-dark masters-pre-title">
      For true enjoyers of the atmosphere
    </p>
    <h2 class="section-title section-title-dark masters-title">Our barbers</h2>
    <ul class="masters-list">
      <li class="masters-item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/masters/John-Smith-desk.webp    1x,
              ./images/masters/John-Smith-desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/masters/John-Smith-desk.jpg    1x,
              ./images/masters/John-Smith-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/masters/John-Smith-tab.webp    1x,
              ./images/masters/John-Smith-tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/masters/John-Smith-tab.jpg    1x,
              ./images/masters/John-Smith-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./images/masters/John-Smith-mob.webp    1x,
              ./images/masters/John-Smith-mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/masters/John-Smith-mob.jpg    1x,
              ./images/masters/John-Smith-mob@2x.jpg 2x
            "
          />
          <img src="./images/masters/John-Smith-mob.jpg" alt="John Smith" class="masters-image"/>
        </picture>
        <div class="masters-item-description">
          <p class="masters-item-name">John Smith</p>
          <p class="masters-item-text">Extreme Barber</p>
          <ul class="social-list">
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon" width="69" height="56">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="masters-item">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./images/masters/Michele-Doe-desk.webp    1x,
              ./images/masters/Michele-Doe-desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:1200px)"
            srcset="
              ./images/masters/Michele-Doe-desk.jpg    1x,
              ./images/masters/Michele-Doe-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/masters/Michele-Doe-tab.webp    1x,
              ./images/masters/Michele-Doe-tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/masters/Michele-Doe-tab.jpg    1x,
              ./images/masters/Michele-Doe-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./images/masters/Michele-Doe-mob.webp    1x,
              ./images/masters/Michele-Doe-mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./images/masters/Michele-Doe-mob.jpg    1x,
              ./images/masters/Michele-Doe-mob@2x.jpg 2x
            "
          />
          <img src="./images/masters/Michele-Doe-mob.jpg" alt="Michele Doe" class="masters-image"/>
        </picture>
        <div class="masters-item-description">
          <p class="masters-item-name">Michele Doe</p>
          <p class="masters-item-text">Extreme Barber</p>
          <ul class="social-list">
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="masters-item">
        <picture>
          <source
            media="(min-width: 1200px )"
            srcset="
              ./images/masters/Alan-Black-desk.webp    1x,
              ./images/masters/Alan-Black-desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px )"
            srcset="
              ./images/masters/Alan-Black-desk.jpg    1x,
              ./images/masters/Alan-Black-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px )"
            srcset="
              ./images/masters/Alan-Black-tab.webp    1x,
              ./images/masters/Alan-Black-tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/masters/Alan-Black-tab.jpg    1x,
              ./images/masters/Alan-Black-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px )"
            srcset="
              ./images/masters/Alan-Black-mob.webp    1x,
              ./images/masters/Alan-Black-mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/masters/Alan-Black-mob.jpg    1x,
              ./images/masters/Alan-Black-mob@2x.jpg 2x
            "
          />
          <img src="./images/masters/Alan-Black-mob.jpg" alt="Alan Black" class="masters-image"/>
        </picture>
        <div class="masters-item-description">
          <p class="masters-item-name">Alan Black</p>
          <p class="masters-item-text">Extreme Barber</p>
          <ul class="social-list">
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-item-link">
                <svg class="social-icon" width="20" height="20">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
