<section class="masters" id="masters">
  <p class="pre-title pre-title-dark">For true enjoyers of the atmosphere</p>
  <h2 class="section-title section-title-dark">Our barbers</h2>
  <ul class="masters-list">
    <li class="masters-item">
      <img src="./images/John-Smith.jpg" alt="Photo John Smith" width="370" height="346"/>
      <p class="masters-item-name">John Smith</p>
      <p class="masters-item-text">Extreme Barber</p>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </li>
    <li class="masters-item">
      <img src="./images/Michele-Doe.jpg" alt="Photo Michele Doe" width="370" height="346"/>
      <p class="masters-item-name">Michele Doe</p>
      <p class="masters-item-text">Extreme Barber</p>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </li>
    <li class="masters-item">
      <img src="./images/Alan-Black.jpg" alt="Photo Alan Black" width="370" height="346"/>
      <p class="masters-item-name">Alan Black</p>
      <p class="masters-item-text">Extreme Barber</p>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </li>
  </ul>
</section>
