<section class="price" id="price">
  <div class="container price-container">
    <p class="pre-title pre-title-light price-pre-title">Spend your time with the best masters</p>
  <h2 class="section-title section-title-light price-title">Services and prices</h2>
  <div class="price-list-wrapper">
    <ul class="price-list price-list-left">
      <li class="price-item">
        <p class="price-item-text">Men’s haircut</p>
        <p class="price-item-text">from 300 uah.</p>
      </li>
      <li class="price-item">
        <p class="price-item-text">Beard trim</p>
        <p class="price-item-text">from 300 uah.</p>
      </li>
      <li class="price-item">
        <p class="price-item-text">Mustache trim</p>
        <p class="price-item-text">from 200 uah.</p>
      </li>
      <li class="price-item">
        <p class="price-item-text">Straight razor shave</p>
        <p class="price-item-text">from 200 uah.</p>
      </li>
    </ul>
    <ul class="price-list price-list-right">
        <li class="price-item">
            <p class="price-item-text">Trainee’s haircut</p>
            <p class="price-item-text">from 50 uah.</p>
          </li>
          <li class="price-item">
            <p class="price-item-text">Haircut under the nozzle</p>
            <p class="price-item-text">from 200 uah.</p>
          </li>
          <li class="price-item">
            <p class="price-item-text">Children’s haircut (0-12 y.o.)</p>
            <p class="price-item-text">from 300 uah.</p>
          </li>
          <li class="price-item">
            <p class="price-item-text">Camouflage of gray hair</p>
            <p class="price-item-text">from 200 uah.</p>
          </li>
    </ul>
  </div>
  <button type="button" class="btn price-btn">online-booking</button>
  </div>
</section>
