.contacts-form-wrapper {
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.booking {
  background-color: #191c26;

  padding-top: 84px;
  padding-bottom: 84px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 120px;
    width: 50%;
  }
}

.booking-container {
  @media screen and (min-width: 1200px) {
    width: 570px;
    margin-right: 0;
    margin-left: auto;
  }
}

.booking-container .section-title {
  margin-bottom: 44px;

  font-size: 42px;
  line-height: 1.17;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.input-wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 44px;
  }
}

.form-input {
  display: block;
  padding: 0;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.form-message {
  width: 100%;

  @media screen and (min-width: 768px) {
    margin-bottom: 44px;
  }
}

.form-input,
.form-message {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid #ffffff;

    &::placeholder {
      color: #ffffff;
    }
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 44px;
  }
}

.form-input::placeholder,
.form-message::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
}

.form-message {
  resize: none;
  height: 76px;
}

.form-button {
  color: #ffffff;
  display: block;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}
